/* STYLING */

h1 {
    text-align: center;
}

.marker {
    /* background-color: red; */
    width: 320px;
    height: 32px;
    margin: 16px auto;
}

.orange {
    background: linear-gradient(rgb(122, 74, 14), rgb(245, 62, 113), rgb(162, 27, 27));
    box-shadow: -5px -5px orange;
}

.green {
    background-color: rgb(0, 255, 127);
    box-shadow: 5px 5px 5px green;
}

.cyan {
    background-color: #00ffff;
    box-shadow: 5px 5px 5px cyan;
}

.purple {
    background-color: #707;
}

.container {
    background-color: hsl(255, 100%, 100%);
    margin: auto;
    padding: 10px 0px;
}

.sleeve {
    width: 180px;
    height: 32px;
    background-color: rgba(255, 255, 255, 0.5);
    border-left: 15px double rgba(0, 0, 0, 0.75);
    border-right: 10px double black;
}

.cap {
    width: 100px;
    height: 32px;
}

.cap,
.sleeve {
    display: inline-block;
}