/* STYLING */

h1 {
    text-align: center;
}

.marker {
    /* background-color: red; */
    width: 320px;
    height: 32px;
    margin: 16px auto;
}

.orange {
    background-color: rgb(255, 127, 0);
}

.green {
    background-color: rgb(0, 255, 127);
}

.cyan {
    background-color: #00bbbe;
}

.purple {
    background-color: #707;
}

.container {
    background-color: hsl(255, 100%, 50);
    margin: auto;
    padding: 10px 0px;
}