/* STYLING */

h1 {
    text-align: center;
}

.marker {
    /* background-color: red; */
    width: 320px;
    height: 32px;
    margin: 16px auto;
}

.one {
    background-color: rgb(255, 127, 0);
}

.two {
    background-color: rgb(0, 255, 127);
}

.cyan {
    background-color: rgb(0, 215, 227);
}

.purple {
    background-color: rgb(127, 0, 127);
}

.container {
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding: 10px 0px;
}