/* STYLING */

h1 {
    text-align: center;
}

.marker {
    /* background-color: red; */
    width: 320px;
    height: 32px;
    margin: 16px auto;
}

.orange {
    background: linear-gradient(rgb(122, 74, 14), rgb(245, 62, 113), rgb(162, 27, 27));
}

.green {
    background-color: rgb(0, 255, 127);
}

.cyan {
    background-color: #00ffff;
}

.purple {
    background-color: #707;
}

.container {
    background-color: hsl(255, 100%, 100%);
    margin: auto;
    padding: 10px 0px;
}

.sleeve {
    width: 210px;
    height: 32px;
    background-color: rgba(255, 255, 255, 0.5)
}

.cap {
    width: ;
}